.main-nav {
	margin-top: 10px;
	list-style: none; /*Para eliminar los estilos de <ul>*/
	padding-left: 0; /*El pacio interno en un contenedor para ver esto has "insepct" y mira el cuadro de colores*/
	background-color: #13a4a4;
}

.main-nav__item {
	display: inline-block;

}

.main-nav__item a {
	color: white;
	padding: 5px;
	border-radius: 2px;
	text-decoration: none;
}

/*Pseudo Clases*/
.main-nav__item a:hover {  /* It´s when you PUT the mouse over the element*/
	color: blue;
}

.main-nav__item a:active { /*It´s que you CLICK over the element*/
	color: red;
}

/*Pseudo Elemento*/

.main-nav__item a::after {
	content: " | "
}
