* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: purple;
    font-family: serif;
    margin-bottom: 10px;
}
/*
#page-title {
    font-family: arial, Helvetica, sans-serif; 
    Si el navegador no tiene la primera fuente, utiliza la segunda, si no, la tercera
}
*/

.title {
   font-size: 18px;
   font-family: monospace;	
}
/*
#main-nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}
*/

.nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.nav .blog {
    background-color: red;
}

/*
Nota:
Los #id puede ser complicados para css, es preferible no usarlos 
y estabecer bien los estilos generales y trata de no se tan 
especifico. Si vamos a ser específicos, empezar de abajo 
hacia arriba (tags > #id) (Ejemplo en ".nav .blog"
*/