* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}


header {
    width: 100%;
    height: 100px;
}

header section {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header .logo-wikipedia .wiki-zawardo {
    /*background-image: url('https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2.png');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 55px;
    height: 50px;
    margin-right: 5px;
}

header .logo-wikipedia .wiki-slogan {
    width: 160px;
    display: block;
    align-content: center;
}

header .logo-wikipedia .wiki-word {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 160px;
    padding-top: 5px;
}

header p {
    font-size: 1.6rem;
    text-align: center;
}


/* ---------- Estilos MAIN ---------- */

main {
    text-align: center;
    margin: 0;
}

main .searcher {
    width: 90%;  /*Tamaño de <section> */
    margin: 0 auto; /*0 margen (arriba y abajo) aut margen para centrar (izq. der.)*/ 
}

main .input-container {
    border: 1px solid #afb5bc; /*Propiedades obligatorias tamaño/tipo de linea/color*/
    border-radius: 3px;
    display: flex;
    align-items: center;
}

main .input-container .input-text {
    width: calc(100% - 100px);  /*Tomará el tamaño de contenedor menos los px del "leng" y "blue-button"*/
    height: 40px;
    padding: 10px;
    border: none;
}

main .input-container .leng-list {
    border: none;
    width: 50px;
    height: 20px;
}

main .input-container .blue-button {
    width: 50px;
    height: 45px;
    border: none;
    border-radius: 0;
    background-color:#3366cc ;
}       

main .articles-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10 {
    width: 33%;
    min-width: 100px;
    max-width: 150px;
    height: 50px;
    margin: 10px 0 22.5px 0;
    padding: 0 20px;
}

main h2 {
    font-size: 1.4rem;
    color: #3366cc;
}

main h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    color: #3366cc;
}

main p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    color: #54595d;
}

main a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
}

main .lenguages-selecter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px auto;   
}

main .lenguages-selecter .button-leng-slct {
    width: 270px;
    height: 36px;
    margin-bottom: 25px;
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}   

main .lenguages-selecter .leng-icon {
    /*background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/OOjs_UI_icon_language-ltr-progressive.svg/800px-OOjs_UI_icon_language-ltr-progressive.svg.png');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
}

main .lenguages-selecter .arrow-icon {
    background-image: url('https://www.pinclipart.com/picdir/big/85-854879_drop-down-box-arrow-comments-black-v-letter.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    width: 22px;
    height: 22px;
}


main .divider {
    background-color: #c8ccd1;
    width: calc(100% - 5px);
    height: 1px;
    
}

main .mission {
    align-content: center;
    font-size: 1.3rem;
    padding: 0 15px;
}

main .mission img {
    width: 42px;
    height: 42px;
    margin: 15px 0;
}

main .resources {
    min-width: 320px;
    max-width: 500px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .resources .link-src-1, .link-src-2, .link-src-3, .link-src-4, .link-src-5, .link-src-6, .link-src-7, .link-src-8, .link-src-9, .link-src-10, .link-src-11, .link-src-12 {
    min-width: 150px;
    max-width: 180px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main .resources img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;    
}

main .resources .ltc {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    max-width: 100px;
    height: fit-content;
    
}

main .apps {
    background-color: #f8f9fa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

main .apps .wiki-app {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 29px;    
}


/* ---------- Estilos MAIN ---------- */


